<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update a Review</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<h1>Update a Review</h1>

<form th:action="@{/review/edit/{id}(id=${reviewModel.id})}" th:object="${reviewModel}" th:method="POST">

    <label for="name">User Name: </label>
    <input type="text" id="name" th:field="*{name}">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
    <br><br>

    <label for="email">Email: </label>
    <input type="text" id="email" th:field="*{email}">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
    <br><br>

    <label for="rating">Your rating (1-10, 10 is the best): </label>
    <input type="text" id="rating" th:field="*{rating}">
    <span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" class="error"></span>
    <br><br>

    <label for="comment">Your Comment:</label><br>
    <textarea rows="15" cols="30" id="comment" th:field="*{comment}"></textarea>
    <span th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" class="error"></span>
    <br><br>


    <input type="submit" value="Submit">

</form>


</body>
</html>